header h1{
    color: black;
    display: block;
}
header img{
    width: 200px;
    height: 200px;
}
html {
    background-color: #9f6e31;
    
}
.nav a{
    color: black;
    text-decoration: none;
    position: fixed;
    border: solid white 1px;
    background-color: grey;
}
.nav a:visited {
    color: red;
    text-decoration: none;
    position: fixed;
    border: solid white 1px;
    background-color: grey;
}
main img{
    width: 200px;
    height: 200px;
    
}
b:hover { color: red;
}
